<% if (site.footerLinks.email) { %><a href="mailto:<%= site.footerLinks.email %>"><i class="icon icon-email"></i><span class="visuallyhidden">Contact</span></a><% } %>
<% if (site.footerLinks.facebook) { %><a href="<%= site.footerLinks.facebook %>" target="_blank"><i class="icon icon-facebook"></i><span class="visuallyhidden">Find me on Facebook</span></a><% } %>
<% if (site.footerLinks.pinterest) { %><a href="https://www.pinterest.com/<%= site.footerLinks.pinterest %>" target="_blank"><i class="icon icon-pinterest"></i><span class="visuallyhidden">Find me on Pinterest</span></a><% } %>
<% if (site.footerLinks.youtube) { %><a href="https://youtube.com/<%= site.footerLinks.youtube %>" target="_blank"><i class="icon icon-youtube"></i><span class="visuallyhidden">Find me on YouTube</span></a><% } %>
<% if (site.footerLinks.rss) { %><a href="/feed.xml" target="_blank"><i class="icon icon-rss"></i></a><% } %>