<div id="hero">
  <figure>
      <img src="http://via.placeholder.com/258x168" alt=""/>
  </figure>
  <p><a href="#" class="button primary">Join My Readers Club</a></p>
  <p>Get access to new releases, giveaways, and discounted books!</p>
</div>