<ul>
    <li><a href="/about">About</a></li>
    <li><a href="/second-chances">Second Chances</a></li>
    <li><a href="/paranormal-shakespeare">Paranormal Shakespeare</a></li>
    <% if (false) { %>}
    <li><a href="/promotions">Promtions</a></li>
    <li><a href="/blog">Blog</a></li>
    <% } %>
</ul>