<div class="featured-pages">
  <article class="featured">
    <a href="blog.html">
      <img src="/genericwebsitetemplate/images/pastries.jpg" alt=""/>
      <p>1 This website template has been designed by Free Website Templates for you, for free. 
      You can replace all this text with your own text.</p>
      <p>Click to read more</p>
    </a>
  </article>
  <article class="featured">
    <a href="blog.html">
      <img src="/genericwebsitetemplate/images/fruits.jpg" alt=""/>
      <p>2 This website template has been designed by Free Website Templates for you, for free. 
      You can replace all this text with your own text.</p>
      <p>Click to read more</p>
    </a>
  </article>
  <article class="featured">
    <a href="blog.html">
      <img src="/genericwebsitetemplate/images/cosmetics.jpg" alt=""/>
      <p>3 This website template has been designed by Free Website Templates for you, for free. 
      You can replace all this text with your own text.</p>
      <p>Click to read more</p>
    </a>
  </article>
</div>