<div id="hero">
    <figure>
        <img src="/images/lizzys-pride.png" alt="Lizzy's Pride"/>
    </figure>
    <div class="call-to-action">
        <p><a href="#" class="button primary">Join My Readers Club</a></p>
        <p>Get access to new releases, giveaways, and discounted books!</p>
    </div>
</div>

<div class="featured-pages">
    <article class="featured" style="margin-left: 17.5%">
        <a href="/second-chances">
            <img src="http://via.placeholder.com/258x168" alt=""/>
            <p>If you believe in second chances, love at first sight, and happily ever afters, then sit back, relax, and enjoy my new series full of them!</p>
            <p>Click to read more</p>
        </a>
    </article>
    <article class="featured">
        <a href="/paranormal-shakespeare">
            <img src="http://via.placeholder.com/258x168" alt=""/>
            <p>A fun collection of paranormal romances based on William Shakespeare’s plays.<br /><br /><br /></p>
            <p>Click to read more</p>
        </a>
    </article>
</div>