<div id="hero">
    <h3><%= title %></h3>
    <p><a href="#" class="button primary">Join My Readers Club</a></p>
    <p>Get access to new releases, giveaways, and discounted books!</p>
</div>

<article class="figure-left">
    <figure>
        <img src="/images/lizzys-pride.png" alt="Lizzy's Pride"/>
    </figure>
    <p>Liz Bentley was one of New York's most acclaimed models until she dropped from the public eye. She now enjoys a quiet life off the red carpet. When her best friend Jane pulls her back into the spotlight, she tries to fight the attraction she feels for Will, a charming bachelor who wants more than friendship. But Will is holding on to a secret that could turn her world upside down. As troubling events in her past resurface, Liz is forced to face them head on. Will wants to help, but if she takes that chance she runs the risk of losing everything...again.</p>
    <p>You'll love Jane Austen's beloved characters re-imagined in Manhattan glitz!</p>
    <p><a href="#" class="button primary">Buy it Now!</a></p>
</article>
<article class="figure-right">
    <figure>
        <img src="/images/popcorn-prince.png" alt="The Popcorn Prince"/>
    </figure>
    <p>Amy had officially put dating on the back burner after a string of noncommittal relationships. But when she accidentally brushes her hand against a handsome stranger's one night at a movie theater, her heart decides it has other plans &ndash; until she realizes her handsome prince brings a new girl to the theater almost every weekend. As warning bells go off in her head, she's thrown into an awkward position where she has to accept his help. She needs to decide if she will open her heart and take another chance on a man &ndash; or push him away after she's done with his services.</p>
    <p>Steven has waited months to ask a girl he's never even talked to out, but every time he tries, she runs away from him. Just as he's ready to give up on her, she's thrown into his world &ndash; unfortunately his world almost always ends in tragedy. He needs to convince her that love is more than a perfect image, and that he's in it for the long haul!</p>
    <p>The Popcorn Prince is a loosely based Cinderella story...If Cinderella accidentally leaves behind a bottle of half eaten Buffalo Bills hot sauce for the prince to find.</p>
    <p><a href="#" class="button disabled">Coming Soon!</a></p>
</article>