<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link href="https://fonts.googleapis.com/css?family=Catamaran:300,400,700|Rokkitt:300,400,700" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/newtheme.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>
<body>

    <header id="page-header" class="header">
        <a href="{{ site.baseurl }}/" id="headshot">
            <img src="{{ site.avatar }}" />
        </a>

        <div id="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
        </div>

        <!-- <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/">Blog</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
            </ul>
        </nav> -->
    </header>

    <main class="body">
        {{ content }}
    </main>

    <footer id="page-footer" class="footer">
        {% include svg-icons.html %}
        <p>&copy; 2017 Johanna Evelyn</p>
    </footer>
</body>
</html>
