//
// IMPORTS
//

@import "reset";
@import "variables";
@import "icons";

/**************/
/* BASE RULES */
/**************/

// Typography grid
html, .root {
	font-size: 62.5%; // Establish 10px as rem
}
body, .article {
	font-family: $mainFont;
	font-weight: $lightWeight;
    color: $gray;
	font-size: 1.6rem;
	line-height: 2.6rem;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $titleFont;
	font-weight: $boldWeight;
}
h1, .h1 {
	font-size: 6.8rem;
	line-height: 7.8rem;
	margin-top: 2.6rem;
	margin-bottom: 5.2rem;
}
h2, .h2 {
	font-size: 4.2rem;
	line-height: 5.2rem;
	margin-top: 2.6rem;
	margin-bottom: 2.6rem;
}
h3, .h3 {
	font-size: 2.6rem;
	line-height: 2.6rem;
	margin-top: 2.6rem;
	margin-bottom: 0;
}
h4, .h4 {
	font-size: 1.6rem;
	line-height: 2.6rem;
	margin-top: 2.6rem;
	margin-bottom: 0;
}
h5, .h5 {
	font-size: 1.6rem;
	line-height: 2.6rem;
	margin-top: 2.6rem;
	margin-bottom: 0;
}
p, ul, ol, pre, table, blockquote {
	margin-top: 0;
	margin-bottom: 2.6rem;
}
ul ul, ol ol, ul ol, ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

/* Let's make sure all's aligned */
hr, .hr {
	border: 1px solid;
	margin: -1px 0;
}
a, b, i, strong, em, small, code {
	line-height: 0;
}
sub, sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

// Interactive elements
a:link, a:visited {
    color: $blue;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
input, select, textarea {
	padding: 1.2rem 1.5rem;
	border: 1px solid $gray;
	border-radius: 0.5rem;
	font-size: 2.4rem;
	font-family: $mainFont;
}
button, .button, a.button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
	cursor: pointer;
	padding: 1.2rem 1.5rem;
	border: none;
	border-radius: 0.5rem;
	font-size: 2.4rem;
	font-family: $sans-serif;//mainFont;
	font-weight: $normalWeight;
	background: $lightGray;
	color: $darkGray;
	&:hover {
		background: lighten($lightGray, 4%);
		text-decoration: none;
	}
	&.primary {
		background: $blue;
		color: #fff;
		&:hover {
			background: lighten($blue, 4%);
		}
	}
	&[disabled], &.disabled {
		background: lighten($lightGray, 20%);
	}
	&.primary[disabled], &.primary.disabled {
		background: lighten($blue, 10%);
	}
}

/*--------------------- Generic Classes -------------------*/
.center {
	text-align: center;
}
.visuallyhidden { 
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0; 
}

/*------------------------- Layout ------------------------*/
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
html {
    background:url(/images/bg-body.jpg);
}
body {
    background:url(/images/header-highlight.png) no-repeat 50% 0;
}

/*------------------------- Header ------------------------*/ 
.header {
    @extend .clearfix;
	// background: url(/images/bg-navigation.jpg) no-repeat 50% 100%;
	width: 940px;
	margin: 0 auto;
	padding: 3.6rem 1rem 3.5rem;
    
    #headshot {
        display: block;
        float: left;
        outline: none;
        width: 7rem;
        height: 7rem;
        margin-top: -1rem;
        margin-right: 1.5rem;
        border-radius: .5rem;
        overflow: hidden;
        img {
            border:0;
            max-width: 100%;
		}
		// IE <=8 hack
		@media \0screen\,screen\9 {
			width: 70px;
			height: 70px;
		}
    }
    #site-info {
        display: block;
        float: left;
        .site-name {
			font-size: 4.3rem;
			margin-top: 0.3rem;
			margin-bottom: 2.5rem;
			line-height: 4.3rem;
            a {
                text-decoration: none;
                background-color: $darkGray;
                color: transparent;
                text-shadow: 0px 2px 3px rgba(255,255,255,0.25);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
				outline: none;
				
				// IE 9+ hack
				@media screen and (min-width:0\0) {
					background-color: transparent;
					color: $darkGray;
					text-shadow: none;
					background-clip: border-box;
				}

				// IE <=8 hack
				@media \0screen\,screen\9 {
					background-color: transparent;
					color: $darkGray;
					text-shadow: none;
					background-clip: border-box;
				}
            }
        }
        .site-description {
			font-weight: $normalWeight;
			margin-bottom: 0;
        }
    }
    nav ul {
        margin: 0;
        list-style: none;
        padding: 13px 0 0;
        float: right;
        > li {
            float: left;
            margin: 0 0 0 2rem;
            &:first-of-type {
                margin-left: 0;
            }
            > a {
                //font-size: 16px;
                text-decoration: none;
                color: $gray;
                font-family: $serif;
                font-weight: $normalWeight;
                outline: none;
            }
            &.selected > a, > a:hover {
                color: $blue;
            }
        }
    }
}

/*------------------------- Body ------------------------*/ 
.body {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;

	> h1:first-child,
	> h2:first-child,
	> h3:first-child,
	> h4:first-child,
	> h5:first-child,
	> h6:first-child {
		margin-top: 0;
	}

	
	figure {
		img {
			max-width: 100%;
		}
	}
	
	#hero {
		padding: 0 0 17px;
		.homepage & {
			height: 250px;
		}
		margin-top: -3.5rem;
		overflow: hidden;
		figure {
			float: right;
			width: 33%;
			.homepage & {
				img {
					max-height: 250px;
				}
			}
		}
		.call-to-action {
			float: left;
			text-align: center;
			width: 66%;
			@include vertical-align();
		}
		#readers-club-button {
			button {
				font-family: $sans-serif !important;//mainFont;
				font-weight: $normalWeight !important;
				padding: 1.2rem 1.5rem !important;
			}
		}
		h3 {
			@extend .h2;
			color: $blue;
			font-family: $mainFont;
			font-weight: $normalWeight;
			margin-top: 0;
		}
		p {
			color: $darkGray;
		}
	}
	// ===============================
	.featured-pages {
		@extend .clearfix;
		margin: 0;
		padding: 0 0 5rem;
		background: url(/images/separator.jpg) no-repeat center top;
		@include grid-row();
		.featured {
			border-radius: 0.4rem;
			@include grid-columns(4);
			margin-top: 2%; // Equal to space between
			// Start of new rows
			&:nth-child(3n+4) {
				clear: left;
				margin-left: 0;
			}
			// First row only
			&:nth-child(-n+3) {
				margin-top: 6rem;
			}
			a {
				display: block;
				line-height: inherit;
				img {
					display: block;
					max-width: 100%;
					width: 100%;
					height: auto;
					box-shadow: 0 0 15px rgba(0,0,0,0.75);
					text-align: center;
				}
				p:not(:last-of-type) {
					color: $gray;
					text-decoration: none;
					text-align: justify;
				}
				p:last-of-type {
					font-style: italic;
					font-weight: $normalWeight;
					text-align: center;
				}
				&:hover {
					text-decoration: none;
					img {
						opacity: 0.8;
					}
					p:last-of-type {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.figure-left {
		@extend .clearfix;
		figure {
			float: left;
			margin: 0 1rem 1rem 0;
			max-width: 25%;
		}
	}
	.figure-right {
		@extend .clearfix;
		figure {
			float: right;
			margin: 0 0 1rem 1rem;
			max-width: 25%;
		}
	}
	.figure-left, .figure-right {
		+ .figure-left, + .figure-right {
			border-top: 1px solid $lightGray;
			padding-top: 1rem;
		}
	}
}
.posts {
	.post {
		@extend .clearfix;
		background: url(/images/separator.jpg) no-repeat center top;
		padding: 3rem 0 0;
		&:first-child{
			background: none;
			padding-top: 0
		}
		@include grid-row();
		.figure {
			background: #fff;
			box-shadow: 0 0 1px rgba(0,0,0,0.25);
			border-radius: 0.4rem;
			@include grid-columns(4);
			padding: 1rem;
			> img:first-child {
				display: block;
				max-width: 100%;
				width: 100%;
				height: auto;
				margin-bottom: 2.6rem;
			}
			> ul {
				@include grid-row();
				li {
					@include grid-columns(4);
					a:hover {
						opacity: 0.8;
					}
					img {
						display: block;
						max-width: 100%;
						width: 100%;
						height: auto;
					}
				}
			}
			> a:last-child {
				display: block;
				font-style: italic;
				font-weight: $normalWeight;
				text-align: center;
			}
		}
		.figure + div {
			@include grid-columns(8);
			h3:first-child {
				// @extend .h4;
				margin-top: 0;
				margin-bottom: 2.6rem;
			}
		}
	}
}
.paging{
	@extend .clearfix;
	display: block;
	margin: 1.5rem auto 1rem;
	list-style: none outside none;
	text-align: center;
	cursor: default;
	li {
		display: inline-block;
		padding: 0 0.5rem;
		a {
			text-decoration: none;
			font-size: 1.4rem;
			&:hover {
				color: $gray;
			}
		}
	}
}

/*------------------------- Footer ------------------------*/ 
.footer {
	width: 940px;
	background: url(/images/footer-bg.png) no-repeat center top;
	padding: 6.5rem 1rem 20.7rem;
	margin: 0 auto;
	font-size: 1rem;
	font-family: $sans-serif;
	font-weight: $boldWeight;
	@include grid-row();
	p {
		@include grid-columns(8);
		text-align: left;
		font-size: 1.5rem;
		font-weight: $lightWeight;
	}
	#footer-social-nav {
		@extend .clearfix;
		@include grid-columns(4);
		text-align: right;
		a {
			font-size: 1.5rem;
			font-weight: $lightWeight;
			i {
				margin-right: 1rem;
				transition: all ease 250ms;
				position: relative;
				top: 0;
			}
			&:hover {
				text-decoration: none;
				i {
					top: -0.5rem;
				}
			}
		}
	}
}

/*------------------------- Page-specific ------------------------*/
.not-found {
	.body {
		text-align: center;
		img {
			max-width: 600px;
		}
	}
}